@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* Global variables */
:root {
    --bgcolorprimary: #131313;
    --textcolorprimary: #ffffff;
    --mainfontfamily: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bgcolorprimary);
    margin: 0;
}


.wtext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--bgcolorprimary);
    position: fixed;

}

.wtextm p {
    color: var(--textcolorprimary);
    margin: 0;
    margin-left: 0.5vw;
    font-size: clamp(8px, 2vw, 2vw);
    font-family: var(--mainfontfamily);
}
.wtextm h1 {
    color: var(--textcolorprimary);
    margin: 0;
    font-size: clamp(32px, 8vw, 8vw);
    font-family: var(--mainfontfamily);
    font-weight: 500;
}

.wtextl {
    color: var(--textcolorprimary);
}

.wtextc {
    width: min-content;
    display: flex;
    align-items: center;
}

.wtextm{
    display: block;
}

