#footer{
    height: min-content;
    background-color: var(--color-bg);
    transition-duration: 0,3s;
}
#footer div{
    display: flex;
    font-family: var(--font-family-secondary);
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
}
#footer div div {
    display: block;
}
#footer ul{
    padding: 0;
}
#footer li{
    list-style: none;
    padding-bottom: 4px;
    font-size: 12px;
}
#footer h1{
    font-size: 20px;
    color: var(--color-accent2);
}
@media screen and (max-width: 650px) {
    #footer p{
        font-size: 14px;
    }
    #footer li{
        font-size: 10px;
    }
    #footer ul{
        font-size: 14px;
    }
}