.isec{
    display: block;
    width: 100%;
    align-content: center;
    height: calc(100vh);
    background-color: var(--color-accent-bg);
    transition-duration: 0.5s;
}
.idiv{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
}
.iimg{
    height: min-content;
    width: 100%;
}
.idivt {
    font-family: var(--font-family-primary);
    text-align: left;
    margin: 0 5vw 24px;
    color: var(--color-text-primary);
}
.idivt p {
    font-size: 14px;
}
.idivt h1 {
    margin: 4px 0;
    
}
.idivt h1 b{
    font-size: 50px;
    background: #121FCF;
    background: linear-gradient(to bottom left, var(--color-accent1) 20%, var(--color-accent2) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}