.isec{
    display: block;
    width: 100%;
    align-content: center;
    height: 100vh;
    background-color: var(--color-bg);
    background-image: url(/Assets/globe.png);
    background-position: 70%;
    background-size: cover;
    transition-duration: 0.5s;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}
.idiv{
    display: block;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
}
.iimg{
    height: min-content;
}
.idivt {
    font-family: var(--font-family-primary);
    text-align: left;
    margin: 0 5vw 24px;
    color: #ffffff
    
}
.idivt p {
    font-size: 16px;
    transition-duration: 0.3s;
    max-width: 750px;
    font-family: var(--font-family-secondary);
    line-height: 24px;
}
.idivt h1 {
    margin: 0 0 24px;
    font-size: 20px;
    transition-duration: 0.3s;
    line-height: 40px;
}
.idivt h1 b{
    font-size: 50px;
    background: #121FCF;
    background: linear-gradient(to bottom left, var(--color-accent1) 20%, var(--color-accent2) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;



}

@media screen and (max-width: 650px) {
    .idivt p{
        font-size: 16px;
        text-align: justify;
    }
    .idivt h1 b{
        font-size: clamp(36px, 12vw, 50px);
    }
    .idivt h1{
        font-size: 16px;
    }

}


