.wsec{
    display: block;
    width: 100%;
    align-content: center;
    height: 100vh;
    background-color: var(--color-bg);
    background-image: url(/Assets/image.png);
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
    scroll-snap-align: start;
}
.wdiv{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
}
.wimg{
    height: min-content;
}
.wdivt {
    font-family: var(--font-family-primary);
    text-align: left;
    margin: 12px 5vw 24px;
    color: var(--color-text-primary);
    
}
.wdivt p {
    font-size: 16px;
    transition-duration: 0.3s;
    max-width: 750px;
    font-family: var(--font-family-secondary);
    line-height: 24px;
}
.wdivt h1 {
    margin: 4px 0;
    font-size: 25px;
    transition-duration: 0.3s;
}
.wdivt h1 b{
    font-size: 50px;
    background: #121FCF;
    background: linear-gradient(to bottom left, var(--color-accent1) 20%, var(--color-accent2) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media screen and (max-width: 650px) {
    .wdivt p{
        font-size: 16px;
        text-align: justify;
    }
}